
.landingPage{
    background-image: url('../../assets/Resume_image.webp');
    height: 93vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: contain;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.landingPage__text{
  font-size: 1rem;
}



.landingPage__controls {
  color: white;
  padding: 20px;
  font-weight: 400;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: 1.5rem;
}

.landingPage__controls .MuiButton-root {
  background-color: white;
  margin-top: 2rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  height: 3rem;
  font-size: 1.2rem;
  color: rgb(36, 97, 121);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.315);
}

.landingPage__icons {
  display: flex;
  flex-direction: column;
  margin-right: 2rem;
}

.landingPage__heading{
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  font-weight: 400;
  margin-bottom: 10px;
}

.landingPage__icons .MuiSvgIcon-root{

    color: rgb(36, 97, 121);
    font-size: 2rem;
}

.landingPage__icons .MuiIconButton-root {
  background-color: white !important;
  margin: 5px !important ;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.199);
}

.landingPage__icons .MuiSvgIcon-root {
  margin-right: 0px !important;
}

@media only screen and (max-width: 600px){
    .landingPage{
        background-position: 30% 30%;
        flex-direction: column;
    }

    .landingPage__heading{
      text-shadow: none;
    }

    .landingPage__controls{
        margin-top: auto;
        margin-bottom: auto;
        background-color:rgba(11, 76, 78, 0.267);
        padding: 5rem;
        border-radius: 10px;
        margin-left: 10px;
        margin-right: 10px;
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
    }

    .landingPage__icons{
        flex-direction: row;
        padding-bottom: 3rem;
        margin-right: 0rem;
    }
  }