.buttons{
    display: flex;
    justify-content: center;
}

.MuiButton-outlined, .MuiButton-contained {
    margin: 10px !important;
}

.print{
    display: flex;
}

.Preview{
    background-color: lightgrey;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    
    flex-direction: column;
}

.viewer {
    height: 550px;
    width: 90%;
  }

.noteCard{
    display: flex;
    flex-direction: row;
    background-color: rgba(255, 0, 0, 0.199);
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    color: rgb(185, 52, 52);
    align-items: center;
    
    
}

@media only screen and (min-width: 768px){
   .noteCard{
       display: none;
   }
}