.buttons{
    display: flex;
    justify-content: center;
}

.MuiButton-outlined, .MuiButton-contained {
    margin: 10px !important;
}

.print{
    display: flex;
}

.Preview{
    background-color: lightgrey;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
}

.viewer {
    height: 550px;
    width: 90%;
  }

