.buttons{
    display: flex;
    justify-content: center;
}

.MuiButton-outlined, .MuiButton-contained {
    margin: 10px !important;
}

.print{
    display: flex;
}

.MuiSvgIcon-root{
    margin-right: 10px;
}

.Preview{
    background-color: lightgrey;
    padding-top: 20px;
    padding-bottom: 20px;
}

