.MainContainer {
    display: flex;
    justify-content: center;
    /* background: rgb(199,167,255);
    background: linear-gradient(180deg, rgba(199,167,255,1) 0%, rgba(133,182,252,1) 100%); */
    background-color: #eaeaea;
    height: 100%;
}

.formWrapper {
    width: 90%;
    max-width: 1100px;
}

.Container {
    margin: 30px auto;
    width: 100%;
    background-color:  rgb(252,252,252);
    border: 1px solid lightgrey;
    /* -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px); */
    box-sizing: border-box;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    color: rgb(36, 97, 121);    
    border-radius: 1rem;
    /* padding: 1.5rem !important; */
}

.Container h2 {
    font-weight: 400;
    margin: 10px 0;
    font-size: 16px;
}

.sectionWrapper {
    max-height: 63vh;
    overflow-y: auto;
    margin-top: 3vh;
    padding: 0 8px;
}

.sectionWrapper::-webkit-scrollbar {
    width: 5px;
}

.sectionWrapper::-webkit-scrollbar-track {
    background-color: #fff;
    border-radius: 10px;
    margin: 5px 0;
}
.sectionWrapper::-webkit-scrollbar-thumb {
    background-color: var(--primary-btn-color);
    border-radius: 10px;
    margin: 5px 0;
}


.InputContainer {
    margin-top: 7px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.formButtons{
    display: flex;
    justify-content: space-around;
    /* margin-bottom: 4rem; */
}


.Input {
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px;
    border: 1px solid #eee;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #f5f5f5;
    box-shadow: inset 1px 1px 3px rgb(207, 207, 207), -1px -1px 3px white;
}
 
.Input:focus{
    outline: rgb(179, 179, 179) auto 1px;
}



.InputSingle {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px;
    border: 1px solid #eee;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #f5f5f5;
    box-shadow: inset 1px 1px 3px rgb(207, 207, 207), -1px -1px 3px white;
}
 
.InputSingle:focus{
    outline: rgb(179, 179, 179) auto 1px;
}

.inputBox{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}

.Button {
    background-color: rgb(70, 123, 145);
    border-radius: 5px;
    padding: 7px;
    border: 1px solid #eee;
    color: rgb(253, 246, 234);
    margin: 5px auto;
}

.ButtonContainer {
    margin-top: 7px;
    display: flex;
    justify-content: center;
}

/* .ItemContainer {
    display: flex;
    flex-flow: column;
    justify-content: center;
} */

.textDisabled{
    color: grey !important;
    font-size: 0.8rem;
}

.bottomNavigationButtons{
    display: flex;
    justify-content: center;
}

.imageLoader{
    color:grey !important;
}

.uploadImage{
    border: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    padding: 6px 12px;
    cursor: pointer;
    color: var(--primary-btn-color);
    border-radius: 10px;
}

.formTabs {
    display: flex;
    justify-content: space-between;
}

.formTabsSelect {
    display: none;
    margin: 20px 10px;
    width: 97%;
}

.formTabsSelect select {
    width: 100%;
    height: 30px;
    border-radius: 10px;
    border: 1px solid var(--primary-btn-color);
}

@media only screen and (max-width: 1050px){
    .formTabs{
        display: none;
    }
    .formTabsSelect {
        display: block;
    }
    .Container {
        width: 97%;
    }
 }

@media only screen and (max-width: 600px) {
    .Container {
        width: 97%;
    }

    .Input {
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
        margin: 10px 1px;
        border-radius: 10px;
        border: 1px solid #eee;
    }

    .InputContainer {
        display: flex;
        flex-wrap: wrap;
    }
  }
