.MainContainer {
    display: flex;
    justify-content: center;
    background: rgb(199,167,255);
    background: linear-gradient(180deg, rgba(199,167,255,1) 0%, rgba(133,182,252,1) 100%);
}

.Container {
    margin: 10px auto;
    width: 800px;
    background-color: wheat;
    box-sizing: border-box;
    padding: 9px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 10px;
    color: rgb(36, 97, 121);    
}

.Container h2 {
    font-weight: 400;
    margin: 5px auto;
}

.InputContainer {
    margin-top: 7px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.Input {
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px;
    border: 1px solid #eee;
}

.Button {
    background-color: rgb(70, 123, 145);
    border-radius: 5px;
    padding: 7px;
    border: 1px solid #eee;
    color: rgb(253, 246, 234);
    margin: 5px auto;
}

.ButtonContainer {
    margin-top: 7px;
    display: flex;
    justify-content: center;
}


@media only screen and (max-width: 600px) {
    .Container {
        width: 98%;
    }

    .Input {
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
        margin: 10px 1px;
        border-radius: 10px;
        border: 1px solid #eee;
    }

    .InputContainer {
        display: flex;
        flex-wrap: wrap;
    }
  }