.Input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px;
    margin: 10px 0px;
    background-color: rgb(240, 240, 240);
    border: 1px solid lightgray;
}

.inputDiv{
    margin-top: 20px;
}

.Input:focus{
    outline: none;
}

.Invalid{
    border: 2px solid  #DB4437;

}

.label{

    font-weight: 500;
    color: #4285F4;
}