.mainContainer {
    display: flex;
    height: 100%;
}

.leftContainer{
    background-color: red;
    width: 35%;
    box-sizing: border-box;
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
}
.rightContainer {
    background-color: turquoise;
    width: 65%;
    box-sizing: border-box;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
}

.rightSubSec {
    height: 330px;
    background-color: violet;
    margin-top: 3px;
    padding: 6px;
}

.leftSubSec {
    height: 250px;
    background-color: yellowgreen;
    margin-top: 3px;
}

.Table {
    border-collapse: collapse;
    width: 100%;
}
th {
    background-color: #760f9e;
    color: white;
    font-weight: 400;
}

th, td {
    text-align: center;
}
