.header{
    display: flex;
    justify-content: space-between;
    background-color: lightgrey;
    padding: 5px;
    align-items: center;
    height: 5vh;
}

.header__brand{
    color: rgb(43, 43, 43);
}