.Name{
    text-align: center;
}

.Address{
    text-align:center;
}

.section{
    display: flex;
}

.dataType{
    width: 20%;
}

.data{
    width: 80%;
    justify-content: flex-start;
}

.list{
    display: flex;

}

.listItem{
    display: flex !important;
    align-items: center;
    margin-right: 30px;
}

.icon {
    margin-right: 10px !important;
}

.skills{
    padding-left: 20px;
}