.main-header{
    display: flex;
    justify-content: space-between;
    background-color: rgba(17, 110, 163, 0.5);
    height: 50px;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    box-shadow:0 0 10px rgba(0, 0, 0, 0.11) ;
    z-index: 200;
}